.form-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.vm-form {
    background-color: #E3F2FD; /* Light blue background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
}

.vm-form div {
    margin-bottom: 15px;
    text-align: center;
}

.vm-form label {
    margin-right: 10px;
}

.vm-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #90CAF9; /* Slightly darker blue */
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.vm-form button:hover {
    background-color: #64B5F6;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}